
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body{
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
 }
 p{
     font-size: 1.1em;
     font-weight: 300;
     line-height: 1.7em;
     color:#999;
 }
 html{
    scroll-behavior: smooth;
 }

 h2{
       font-size: 2rem;
   font-weight: bold;
   line-height: 1.5rem;
   padding: 20px;
 }
 .row{
      margin:0;

 }
 /* jumbotron */
   .jumbotron{
    width:70%;
margin:auto;
text-align: left;
line-height: 2;
margin-bottom: 60px;
margin-top: 30px;
   }
.jumbotron img{

float: left;
padding-right: 30px;
}
 /* imageGallery */
 .imageGallery{
      width:500px;
      height:309px;
position:relative;
text-align: center;
margin-left: auto;
margin-right: auto;

 }
 .i1{
   width:309px;
   height:309px;
   position: absolute;
   left: 0;
   top: 0;
 }
 .i2{
   width:191px;
   height: 191px;
   position: absolute;
   right:0;
   top:0;
 }
 .i3{
height: 118px;
width: 118px;
position:absolute;
right:0;
bottom: 0;

 }

 .i4{
   height: 72.5px;
   width: 72.5px;
     position:absolute;
     bottom: 0;
     right:118px;


 }
.i5{
  height: 45px;
  width: 45px;
  position: absolute;
bottom: 72.5px;
right: 145.5px;

}

a,
a:hover,
a:focus{
    color:inherit;
    text-decoration: none;
    transition: all 0.3s;
}
.line{
    width:100%;
    height:1px;
    border-bottom: 1px dashed #ddd;
}

/* SIDEBAR */
#sidebar{
    position: sticky;
    top:0;
    height: 100vh;
  width:38%;
    background: #005086;
    color:#fff;
    display: block;

}
#sidebar.active{
    margin-left:-250px;
}
#sidebar .sidebar-header{
    text-align: center;
    padding:20px;
    background: #005086;
}
#sidebar ul.components{
    padding:20px 0px;
    border-bottom:1px solid #47748b;
}
#sidebar ul p{
    padding:10px;
    font-size:1.1em;
    display: block;
    color:#fff;
}
#sidebar ul li a{
    padding:10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover{
    color:#fff;
    background: #318fb5;
}
#sidebar ul li.active>a,
a[aria-expanded="true"]{
    color:#fff;
    background: #318fb5;
}
a[data-toggle="collapse"]{
    position: relative;
}
.dropdown-toggle::after{
    display: block;
    position: absolute;
    top:50%;
    right:20px;
    transform: translateY(-50%);
}
ul ul a{
    font-size:0.9em !important;
    padding-left: 30px !important;
    background: #318fb5;
}

/* CONTENT */
#content{
    text-align: center;
    padding:20px;

}
/* NATURE */
#nature{
text-align: center;
padding:20px;
}
/* ARCHITECTURE */
.card{
padding: 10px;


}
/* ART */
.Image{
width:250px;
height:154.5px;
display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.ImageV{
  height:250px;
  width:154.5px;
  display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;

}
.mla{
  width:320px;
  height:255px;
  display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;


}
#toggleButton{
    display: none;
}
@media(max-width:992px){
    /* #sidebar{margin-left:-250px;}
    #sidebar.active{
        margin-left:0px;
    }
    #sidebarCollapse span{
        display:none;
    } */
    #toggleButton{
        display: block;
    }
    #sidebar {
        flex: none;
        margin: 0;
    /* max-width: 33.333333%; */
        /* position: sticky; */
        top: 0;
        /* height: 100vh; */
        width: 100%;
        
        height: auto;
        background: #005086;
        color: #fff;
        z-index: 1;
        position: inherit;
        /* display: block; */
    }
    



}
